.App {
  text-align: center;
}

.Field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Row {
  display: flex;
}

.Box {
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.Pillar {
  background-color: red;
}

.Bird {
  background-color: blue;
}